label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.conteneur{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	

}

.item{
	padding: 10em;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-left: 1vw;
}